################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/lz-string-csharp/bin/Debug/netstandard1.6
/lz-string-csharp/obj
/LzString.Test/bin/Debug/netcoreapp2.1
/LzString.Test/obj
/LzString.Common/bin/Debug/netcoreapp2.1
/LzString.Common/obj/Debug/netcoreapp2.1
/LzString.Common/obj
/LzString.TestHarness/bin/Debug/netcoreapp2.1
/LzString.TestHarness/obj/Debug/netcoreapp2.1
/LzString.TestHarness/obj
/LzString.Extensions/bin/Debug/netstandard1.6
/LzString.Extensions/obj
/LzString.Common/bin/Debug/netstandard1.6
